<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pilani.bosm_official_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="BOSM 2k17"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--              The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-HhJV6dlxTEk7eMc8fwHRKt57nrPiiwM" />

        <activity
            android:name=".Navigation"
            android:screenOrientation="portrait"
            android:label="BOSM 2k17"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.OtherDetailsActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>